<?xml version="1.0" encoding="UTF-8"?>
<suite name="MyArtifactSuite" 

       thread-count="1"

       parallel="classes"

>
  <test name="TestGroup">
    <groups>
      <run>
        <include name="smoke"/>
      </run>
    </groups>
    <classes>
     
      <class name="com.nagarro.tests.Test_Login"/>
    </classes>
  </test>
</suite>